/* extends file */

/* variables */
/*
    d - dark
    l - light
    p - primary
    s - secondary
*/

/* colors */
$l_gray : #E5E5E5;
$d_gray : #191919;
$purple : #7333b2;
$l_purple : #b27fe6;
$d_purple : #261933;
$indicator_bg : #341c3f;

/* fonts */
$p_font : Verdana, Geneva, sans-serif;


@font-face {
    font-family: Attentica;
    src: url(../fonts/Attentica.otf);
}
/*---------------------------------------*/

/* extends */

.clearfix{
    
    &:after{
        display: block;
        content: "";
        visibility: hidden;
        width: 0;
        clear: both;
    }
}

.transition{
    transition: all ease-out .4s;
}


.active{
    @extend .transition;           
    background: url("../images/background_img.jpg"); 
    border-bottom: 1px solid $d_purple;
    border-top: 1px solid $d_purple;
    >a{
        color: $l_gray !important;
    }
}

/* contacts animation */
.moveFromLeft{
    transform: translateX(100%);
}


/* show/hide contacts */
.contacts-toggle{ 
    transform: translateX(0) !important;    
}

/* work-box animation */
.description-animation{
    transform: translate(0, -50%) !important;
    opacity: 1 !important;
}

.description-childs-animation{
    transform: rotateX(0deg) !important;
}

.link-animation{
    transform: translate(-50%, 0%) !important;

}


/* skillz-box animation */
.triangle-animation{
    transform: skewX(20deg) rotate(45deg) translateY(0) !important;
    opacity: 1 !important;
}


/* close icon animation */
.close-icon-animation{
    .left, .right{
        position: absolute;
        top: 16px;
        width: 35px;
        height: 2px;
        background: $l_gray;

        &::before{
            content:"";
            display: block;            
            width: 0;
            height: 2px;
            background: $d_purple;
        }

    }

    .left{
        transform: rotate(225deg);

        &::before{
            transition: width ease-in .3s;
        }
    }

   .right{
        transform: rotate(315deg);

        &::before{
            transition: width ease-out .4s;
        }
    }

    &:hover .right::before, &:hover .left::before{
            width: 100%;

    };
}

/*---------------------------------------*/