@charset "UTF-8";
@import url(reset.css);
@import url(animations.css);
/* extends file */
/* variables */
/*
    d - dark
    l - light
    p - primary
    s - secondary
*/
/* colors */
/* fonts */
@font-face {
  font-family: Attentica;
  src: url(../fonts/Attentica.otf);
}
/*---------------------------------------*/
/* extends */
.clearfix:after {
  display: block;
  content: "";
  visibility: hidden;
  width: 0;
  clear: both;
}

.transition, .active, aside.sidebar .nav-list li a, aside.sidebar footer ul li .fa, .container h2 span, #works .work-box .work-box-cover, aside.contacts .contacts-form form input:not([type="submit"]), aside.contacts .contacts-form form textarea, aside.contacts .contacts-form form input[type="submit"] {
  -webkit-transition: all ease-out .4s;
  transition: all ease-out .4s;
}

.active {
  background: url("../images/background_img.jpg");
  border-bottom: 1px solid #261933;
  border-top: 1px solid #261933;
}
.active > a {
  color: #E5E5E5 !important;
}

/* contacts animation */
.moveFromLeft {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}

/* show/hide contacts */
.contacts-toggle {
  -webkit-transform: translateX(0) !important;
  -ms-transform: translateX(0) !important;
  transform: translateX(0) !important;
}

/* work-box animation */
.description-animation {
  -webkit-transform: translate(0, -50%) !important;
  -ms-transform: translate(0, -50%) !important;
  transform: translate(0, -50%) !important;
  opacity: 1 !important;
}

.description-childs-animation {
  -webkit-transform: rotateX(0deg) !important;
  transform: rotateX(0deg) !important;
}

.link-animation {
  -webkit-transform: translate(-50%, 0%) !important;
  -ms-transform: translate(-50%, 0%) !important;
  transform: translate(-50%, 0%) !important;
}

/* skillz-box animation */
.triangle-animation {
  -webkit-transform: skewX(20deg) rotate(45deg) translateY(0) !important;
  -ms-transform: skewX(20deg) rotate(45deg) translateY(0) !important;
  transform: skewX(20deg) rotate(45deg) translateY(0) !important;
  opacity: 1 !important;
}

/* close icon animation */
.close-icon-animation .left, aside.sidebar .nav-list .contacts-hover-link .left, aside.contacts .contacts-close .left, .close-icon-animation .right, aside.sidebar .nav-list .contacts-hover-link .right, aside.contacts .contacts-close .right {
  position: absolute;
  top: 16px;
  width: 35px;
  height: 2px;
  background: #E5E5E5;
}
.close-icon-animation .left::before, aside.sidebar .nav-list .contacts-hover-link .left::before, aside.contacts .contacts-close .left::before, .close-icon-animation .right::before, aside.sidebar .nav-list .contacts-hover-link .right::before, aside.contacts .contacts-close .right::before {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #261933;
}
.close-icon-animation .left, aside.sidebar .nav-list .contacts-hover-link .left, aside.contacts .contacts-close .left {
  -webkit-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  transform: rotate(225deg);
}
.close-icon-animation .left::before, aside.sidebar .nav-list .contacts-hover-link .left::before, aside.contacts .contacts-close .left::before {
  -webkit-transition: width ease-in .3s;
  transition: width ease-in .3s;
}
.close-icon-animation .right, aside.sidebar .nav-list .contacts-hover-link .right, aside.contacts .contacts-close .right {
  -webkit-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  transform: rotate(315deg);
}
.close-icon-animation .right::before, aside.sidebar .nav-list .contacts-hover-link .right::before, aside.contacts .contacts-close .right::before {
  -webkit-transition: width ease-out .4s;
  transition: width ease-out .4s;
}
.close-icon-animation:hover .right::before, aside.sidebar .nav-list .contacts-hover-link:hover .right::before, aside.contacts .contacts-close:hover .right::before, .close-icon-animation:hover .left::before, aside.sidebar .nav-list .contacts-hover-link:hover .left::before, aside.contacts .contacts-close:hover .left::before {
  width: 100%;
}

/*---------------------------------------*/
/* settings file - colors, extends */
/* main styles */
body, html {
  width: 100%;
  height: 100%;
  min-height: 500px;
}

body {
  min-height: 500px;
  font: 1em Verdana, Geneva, sans-serif;
  font-family: Verdana, Geneva, sans-serif;
  overflow-y: scroll;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 1.8em;
}

a, a:visited, a:link {
  text-decoration: none;
}

a:link, a:active {
  color: transparent;
}

strong {
  font-weight: 500;
}

input, textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
}

/* adaptive header */
.mobile-header {
  display: none;
}

/* sidebar */
aside.sidebar {
  position: fixed;
  top: 0;
  min-height: 600px;
  max-width: 200px;
  /*13.88888888888889%; 1440/200 */
  width: 100%;
  height: 100%;
  background: #191919;
  z-index: 999;
}
aside.sidebar h1 {
  height: 70px;
  margin-top: 88px;
  border-bottom: 1px solid #261933;
  border-top: 1px solid #261933;
  color: #7333b2;
  text-align: center;
  background: url("../images/background_img.jpg");
  padding-top: 9px;
}
aside.sidebar h1 img {
  display: inline-block;
}
aside.sidebar .nav-list {
  margin-top: 100px;
  font: 2em Attentica, Verdana, Geneva, sans-serif;
  /* burger icon */
  /* burger icon animation */
}
aside.sidebar .nav-list li {
  height: 50px;
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
}
aside.sidebar .nav-list li a {
  display: block;
  line-height: 48px;
  height: 48px;
  text-transform: uppercase;
  text-align: center;
  color: #7333b2;
}
aside.sidebar .nav-list li a:hover {
  color: #E5E5E5;
}
aside.sidebar .nav-list .contacts-link {
  position: relative;
  margin: 50px auto 0;
  padding-top: 10px;
  width: 96%;
  border-top: 1px solid #E5E5E5;
}
aside.sidebar .nav-list .contacts-link .left, aside.sidebar .nav-list .contacts-link .right {
  position: absolute;
  background: #7333b2;
  height: 2px;
  width: 20px;
  right: 16%;
  -webkit-transition: all .3s;
  transition: all .3s;
}
aside.sidebar .nav-list .contacts-link .left {
  top: 26px;
  box-shadow: #7333b2 0 8px 0 0;
}
aside.sidebar .nav-list .contacts-link .right {
  top: 42px;
}
aside.sidebar .nav-list .contacts-hover-link {
  color: #E5E5E5;
}
aside.sidebar .nav-list .contacts-hover-link .left, aside.sidebar .nav-list .contacts-hover-link .right {
  background: #E5E5E5;
}
aside.sidebar .nav-list .contacts-hover-link .left::before, aside.sidebar .nav-list .contacts-hover-link .right::before {
  content: '';
  background: #b27fe6;
}
aside.sidebar .nav-list .contacts-hover-link .left {
  top: 33px;
  box-shadow: transparent 0 0 0 0;
}
aside.sidebar .nav-list .contacts-hover-link .right {
  top: 33px;
}
aside.sidebar footer {
  position: absolute;
  bottom: 0;
  height: 100px;
  width: 100%;
}
aside.sidebar footer ul {
  margin-top: 20px;
  text-align: center;
}
aside.sidebar footer ul li {
  display: inline-block;
}
aside.sidebar footer ul li .fa {
  padding: 0 15px;
  color: #7333b2;
  font-size: 1.3em;
  text-align: center;
}
aside.sidebar footer ul li .fa:hover {
  color: #E5E5E5;
}
aside.sidebar footer .footer-copyright {
  margin-top: 40px;
  color: #E5E5E5;
  font-size: 12px;
  text-align: center;
  font: 1em Attentica, Verdana, Geneva, sans-serif;
  letter-spacing: 2px;
}

/* main */
main {
  position: relative;
  min-height: 100%;
  max-width: 2560px;
  min-width: 320px;
  overflow: hidden;
  background: #E5E5E5;
  background: -webkit-radial-gradient(top center, circle cover, #E5E5E5 0%, #F5EBFF 100%);
  background: radial-gradient(top center, circle cover, #E5E5E5 0%, #F5EBFF 100%);
}

/* section */
section {
  padding: 150px 40px 70px 13.88888888888889%;
  /* 200/1440 */
  margin-left: 13.88888888888889%;
  /* 200/1440 */
}

.container {
  min-width: 320px;
}
.container h2 {
  position: relative;
  padding-bottom: 5px;
  margin-bottom: 30px;
  overflow: hidden;
}
.container h2 span {
  position: absolute;
  left: -60%;
  width: 60%;
  bottom: 0;
  height: 3px;
  background: -webkit-linear-gradient(left, #261933, #b27fe6);
  background: linear-gradient(to right, #261933, #b27fe6);
  background-color: #7333b2;
}

/* about */
#about p {
  width: 65%;
  /* 1240/700 */
  min-width: 280px;
  padding: 0 0 0 2%;
  font-size: 1em;
  line-height: 1.5;
  color: #191919;
  text-indent: 20px;
}

/* works */
#works .work-box {
  position: relative;
  margin: 40px 5% 140px 80px;
  max-width: 750px;
  min-width: 320px;
  overflow: hidden;
  /* cover */
  /* button */
}
#works .work-box:not(:last-child)::after {
  content: "";
  position: absolute;
  height: 1px;
  background-color: #261933;
  bottom: -70px;
  width: 110%;
  left: -5%;
}
#works .work-box:hover .work-box-link {
  border: 2px solid #7333b2;
  color: #7333b2;
  background: rgba(255, 255, 255, 0.9);
}
#works .work-box:hover .img-scale {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all ease-out 10s;
  transition: all ease-out 10s;
}
#works .work-box img {
  display: block;
  max-width: 100%;
  height: auto;
  -webkit-transition: all ease-out .4s;
  transition: all ease-out .4s;
}
#works .work-box .work-box-cover {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(../images/work_layer.png);
  text-align: center;
  color: #fff;
  font-size: 1em;
}
#works .work-box .work-box-cover:hover {
  cursor: pointer;
  opacity: 0;
}
#works .work-box .work-box-cover .work-box-description {
  position: absolute;
  display: block;
  text-align: center;
  top: 45%;
  width: 100%;
  opacity: 0;
  -webkit-transform: translate(0, -150%);
  -ms-transform: translate(0, -150%);
  transform: translate(0, -150%);
  -webkit-transition: all ease-out .8s;
  transition: all ease-out .8s;
}
#works .work-box .work-box-cover .work-box-description h6 {
  display: inline-block;
  font-size: 2em;
  padding-bottom: 5px;
  border-bottom: 2px solid #fff;
}
#works .work-box .work-box-cover .work-box-description .description-wrap {
  display: inline-block;
  width: 90%;
  margin: 35px auto 0;
  font-weight: 100;
}
#works .work-box .work-box-cover .work-box-description .description-wrap .description-info {
  width: 50%;
  padding-right: 5%;
  float: left;
}
#works .work-box .work-box-cover .work-box-description .description-wrap .description-features {
  width: 50%;
  float: right;
  text-align: left;
  padding-left: 5%;
  border-left: 1px solid #fff;
}
#works .work-box .work-box-cover .work-box-description .description-wrap .description-features li::before {
  font-family: FontAwesome;
  content: "\f00c    ";
}
#works .work-box .work-box-cover .work-box-description .description-wrap .description-info, #works .work-box .work-box-cover .work-box-description .description-wrap .description-features {
  -webkit-transition: all ease-out 1s;
  transition: all ease-out 1s;
  -webkit-transform: rotateX(-150deg);
  transform: rotateX(-150deg);
}
#works .work-box .work-box-cover:before {
  /* для IE8+ */
  content: "";
  display: inline-block;
  min-height: inherit;
  height: 100%;
  vertical-align: middle;
}
#works .work-box .work-box-link {
  position: absolute;
  bottom: 10%;
  left: 50%;
  z-index: 11;
  -webkit-transform: translate(-50%, 400%);
  -ms-transform: translate(-50%, 400%);
  transform: translate(-50%, 400%);
  padding: 10px;
  border: 2px solid #fff;
  color: #fff;
  -webkit-transition: all ease-out .7s;
  transition: all ease-out .7s;
}
#works .work-box .work-box-link:hover {
  color: #fff;
}

/* skillz */
#skillz > ul {
  color: #191919;
  padding-left: 20px;
}
#skillz > ul ul > li {
  padding-top: 15px;
}
#skillz > ul li strong, #skillz > ul li i {
  font-family: Attentica;
  font-size: 2em;
}
#skillz > ul li i {
  font-style: italic;
  font-size: 1.9em;
}
#skillz strong {
  font-size: 1.4em;
  font-weight: 700;
  color: #191919;
  letter-spacing: .009em;
}
#skillz .skill-indicator {
  width: 50%;
  height: 12px;
  margin: 10px 0 15px 0;
  border-bottom: 1px solid #b27fe6;
  border-top: 1px solid #261933;
  background-color: #341c3f;
}
#skillz .skill-indicator .indicator-bar {
  position: relative;
  height: 10px;
  width: 0;
  /* background: $purple;*/
  background: -webkit-linear-gradient(left, #261933, #b27fe6);
  background: linear-gradient(to right, #261933, #b27fe6);
  -webkit-transition: all ease-out .9s;
  transition: all ease-out .9s;
}
#skillz .skill-indicator .percents-box {
  display: none;
  position: absolute;
  right: -47px;
  top: -28px;
  width: 50px;
  height: 20px;
  background: #b27fe6;
  -webkit-transform: skewX(-25deg);
  -ms-transform: skewX(-25deg);
  transform: skewX(-25deg);
  text-align: center;
  line-height: 20px;
  color: #fff;
  font-size: .8em;
  z-index: 200;
}
#skillz .skill-indicator .percents-box .percents-box-triangle {
  position: absolute;
  bottom: -5px;
  left: 3px;
  width: 10px;
  height: 10px;
  background: #b27fe6;
  -webkit-transform: skewX(20deg) rotate(45deg) translateY(-100%);
  -ms-transform: skewX(20deg) rotate(45deg) translateY(-100%);
  transform: skewX(20deg) rotate(45deg) translateY(-100%);
  -webkit-transition: all ease-out .2s;
  transition: all ease-out .2s;
  opacity: 0;
  z-index: 100;
}

/* contacts */
aside.contacts {
  position: fixed;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  top: 0;
  right: 0;
  bottom: 0;
  min-width: 320px;
  width: 27.77778%;
  /* 400/1440 */
  padding: 0 0 0 1.5%;
  /* 20/500 */
  background: #191919;
  z-index: 2000;
  -webkit-transition: all ease-out .5s;
  transition: all ease-out .5s;
  color: #E5E5E5;
}
aside.contacts .scroll-fix {
  padding-top: 20px;
}
aside.contacts .contacts-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  height: 35px;
  background: #b27fe6;
  cursor: pointer;
}
aside.contacts h3 {
  width: 80%;
  /* 250/500 */
  padding-bottom: 3px;
  font-family: Attentica, Verdana, Geneva, sans-serif;
  font-size: 2.3em;
  border-bottom: 1px solid #7333b2;
}
aside.contacts .contacts-data address {
  font-size: 1em;
  padding-top: 10px;
  line-height: 1.5em;
}
aside.contacts .contacts-form {
  margin-top: 20px;
}
aside.contacts .contacts-form form * {
  display: block;
}
aside.contacts .contacts-form form label {
  margin: 20px 0 5px 0;
  font-family: Attentica, Verdana, Geneva, sans-serif;
  color: #7333b2;
  font-size: 1.9em;
}
aside.contacts .contacts-form form input:not([type="submit"]) {
  width: 200px;
  height: 30px;
  background: #191919;
  border: none;
  border-bottom: 1px solid #7333b2;
  color: #E5E5E5;
  outline: none;
  font-size: 1.2em;
  padding: 0 8px;
}
aside.contacts .contacts-form form input:not([type="submit"]):focus {
  border-bottom: 1px solid #b27fe6;
}
aside.contacts .contacts-form form textarea::-webkit-input-placeholder,
aside.contacts .contacts-form form input::-webkit-input-placeholder {
  color: #E5E5E5;
  opacity: 0.9;
}
aside.contacts .contacts-form form textarea:-moz-placeholder,
aside.contacts .contacts-form form input:-moz-placeholder {
  /* Firefox 18- */
  color: #E5E5E5;
  opacity: 0.9;
}
aside.contacts .contacts-form form textarea::-moz-placeholder,
aside.contacts .contacts-form form input::-moz-placeholder {
  /* Firefox 19+ */
  color: #E5E5E5;
  opacity: 0.9;
}
aside.contacts .contacts-form form textarea:-ms-input-placeholder,
aside.contacts .contacts-form form input:-ms-input-placeholder {
  color: #E5E5E5;
  opacity: 0.9;
}
aside.contacts .contacts-form form textarea {
  width: 90%;
  background: #261933;
  border: 1px solid #7333b2;
  color: #E5E5E5;
  outline: none;
  font-size: 1.1em;
  padding: 8px;
  resize: none;
  font-family: Verdana, Geneva, sans-serif;
  overflow: auto;
}
aside.contacts .contacts-form form textarea:focus {
  border: 1px solid #b27fe6;
}
aside.contacts .contacts-form form input[type="submit"] {
  width: 90px;
  height: 40px;
  margin: 20px 0;
  line-height: 1;
  background: #7333b2;
  border: none;
  outline: none;
  color: #E5E5E5;
  cursor: pointer;
  font-family: Attentica, Verdana, Geneva, sans-serif;
  font-size: 1.9em;
}
aside.contacts .contacts-form form input[type="submit"]:hover {
  background: #b27fe6;
}

/* mobile-footer */
.mobile-footer {
  display: none;
  font-family: Verdana, Geneva, sans-serif;
}

/* modernizr fixes */
.no-cssgradients .skill-indicator .indicator-bar {
  background-image: url(../images/progress-ie-gradient.svg);
  background-size: cover;
}
